.navbar {
  height: 50px;
  background-color: mediumblue;
  display: flex;
  justify-content: center;
}
.navContainer {
  width: 100%;
  /* background-color: rgb(36, 33, 33); */
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.PersonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navItems {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
  display: flex;
  gap: 10px;
}
